NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/nombre_db
JWT_SECRET=change_me_secure_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
DEMO_SEED=false
